[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
sqlalchemy = "*"
praw = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
db-dtypes = "*"
dbt-bigquery = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.14"
